:root {
  --ginger-color: #FF9900;
  --black-color: #2E2E2E;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.header {
  background: var(--black-color);
  padding: 37px 0;
  margin-bottom: 60px;
}

.container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.download-cv-link {
  color: var(--ginger-color);
  font-size: 21px;
}

.download-cv-link:hover {
  text-decoration: none;
}

.download-cv-link:hover .download-cv-link__text {
  text-decoration: underline;
}

.download-cv-link__text {
  margin-left: 9px;
}

.username {
  font-size: 36px;
  color: #fff;
}

.contacts  {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-style: normal;
}

.contacts__phone {
  font-size: 21px;
  font-weight: bold;
  color: #fff;
}

.contacts__mail {
  color: var(--ginger-color);
}

.about {
  display: flex;
  margin-bottom: 55px;
}

.about__left {
  width: 500px;
  margin-right: 45px;
}

.avatar {
  border-radius: 10px;
  overflow: hidden;
}

.avatar__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 37px;
}

.skills__title {
  font-size: 26px;
  margin-bottom: 6px;
}

.skills__tech-item {
  font-size: 16px;
  margin-bottom: 4px;
}

.skills__tech-item {
  padding-left: 20px;
  position: relative;
}

.skills__tech-item:before {
  content: "";
  position: absolute;
  top: 8px;
  left: 6px;
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--ginger-color);
}

.desc__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.desc__item {
  width: calc(100% / 2 - (34px / 2));
  margin-bottom: 47px;
}

.footer {
  background: var(--black-color);
  padding: 46px 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.socials {
  display: flex;
}

.socials__item {
  margin-right: 10px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__icon {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black-color);
  background: white;
}

.socials__icon:hover {
  text-decoration: none;
  opacity: .8;
}

